*{margin: 0;padding: 0;}
body{
    background-color:rgb(255, 255, 255);
}
header img{
    width: 100vw;
    height: 300px;
}
header{
    height: 300px;
    display: flex;
    justify-content:center;
    align-items:flex-start;
    background-image: url(PICTURE/harold-eggar-oIVpygLFUJg-unsplash.jpg);
    background-size: 100% 100%;
    border-bottom: 2.5px solid rgb(0, 0, 0);
    border-bottom-left-radius:15px;
    border-bottom-right-radius:15px;
    
    
}
nav{
    position: sticky;
    top: 0px;
    background-color: rgb(34, 34, 34);
    height: 50px;
    width: 30vw;
    border-radius: 50px;
    

}

nav ul{
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}

li{
    color: white;
    list-style: none;
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;

}
li:hover{
    background-color: aliceblue;
    color: black;
}
main{
    min-height:calc(100vh + 300px);
}

.pp{
    text-align: center;
    height: 300px;
}
#p1{
    font-size: 50px;
}
#p2{
    font-size: 30px;
}
#p3{
    font-size: 15px;
}
#p4{
    font-size: 40px;
    color: white;
}
.cardhead{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(79, 59, 255);
    border-bottom: 1px solid rgb(107, 107, 107);
    border-radius: 50px;

}
.card {
    display: flex;
    justify-content: space-around;
    height: 430px;
    width:100%;
    
}
#card1{
    height: 400px;
    width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    

}
#card11{
    height: 280px;
    width: 340px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardpic{
    height: 250px;
    width: 300px;    
    animation: paris 20s infinite;
    border-radius: 15px;
    border: 2px solid rgb(214, 214, 214);
    padding: 10px 0px ;
    cursor: pointer;
    box-shadow: 0px 4px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 25px 0 rgba(0, 0, 0, 0.19);
    
}
.cardpic1{
    height: 250px;
    width: 300px;    
    animation: india 20s infinite;
    border-radius: 15px;
    border: 2px solid rgb(214, 214, 214);
    padding: 10px 0px ;
    cursor: pointer;
    box-shadow: 0px 4px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 25px 0 rgba(0, 0, 0, 0.19);
}
.cardpic2{
    height: 250px;
    width: 300px;    
    animation: thai 20s infinite;
    border-radius: 15px;
    border: 2px solid rgb(214, 214, 214);
    padding: 10px 0px ;
    cursor: pointer;
    box-shadow: 0px 4px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 25px 0 rgba(0, 0, 0, 0.19);
}
.cardpich:hover{
    height: 255px;
    width: 305px;
    box-shadow: 0px 4px 10px 0 rgba(38, 0, 255 , .3), 0 6px 25px 0 rgba(0, 4, 255, .3);
}

#dp1{
    text-align: center;
    font-size: 24px;
    
}
#dp2, #dp3{
    font-size: 24px;
    
}
#dp2{padding-left:28PX ;
    }
#dp3{padding-right: 28px;}

.pd{
    display: flex;
    justify-content: space-between;
}
#btn{
    display: flex;
    justify-content: space-around;
}
.btn2{background:radial-gradient(rgb(255, 255, 255), rgb(255, 0, 0));}
.btn3{background:radial-gradient(rgb(255, 255, 255), rgb(17, 0, 255));}
.btn1{
    height: 40px;
    width: 118px;
    margin-top: 7px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    font-size: 20px;
    cursor: pointer;
    position: relative;
}
.bbtn::after{
    content: '';
    inset: 0;
    background-color: rgb(0, 0, 0);
    height: 40px;
    width: 118px;
    position:absolute;
    border-radius: 20px;
    z-index: -1;
    box-shadow: 0 0 10 0 blue;   
    
    
}
.bbtn:hover::after{filter:blur(5px);}
.bbtnfs:hover{
    font-size: 21px;
}


@keyframes paris{
    0%{background-image: url(/tourpic/paris/anthony-delanoix-Q0-fOL2nqZc-unsplash.jpg);background-size: 100% 100%;}
    10%{background-image: url(/tourpic/paris/anthony-delanoix-Q0-fOL2nqZc-unsplash.jpg);background-size: 100% 100%;}
    25%{background-image: url(/tourpic/paris/bastien-nvs-SprV1eqNrqM-unsplash.jpg);background-size: 100% 100%;}
    35%{background-image: url(/tourpic/paris/bastien-nvs-SprV1eqNrqM-unsplash.jpg);background-size: 100% 100%;}
    50%{background-image: url(/tourpic/paris/michael-fousert-Ql9PCaOhyyE-unsplash.jpg);background-size: 100% 100%;}
    60%{background-image: url(/tourpic/paris/michael-fousert-Ql9PCaOhyyE-unsplash.jpg);background-size: 100% 100%;}
    90%{background-image: url(/tourpic/paris/thibault-penin-zj_zOAaT8as-unsplash.jpg);background-size: 100% 100%;}
    100%{background-image: url(/tourpic/paris/thibault-penin-zj_zOAaT8as-unsplash.jpg);background-size: 100% 100%;}
    

}
@keyframes india{
    0%{background-image: url(/tourpic/india/julian-yu-_WuPjE-MPHo-unsplash.jpg);background-size: 100% 100%;}
    10%{background-image: url(/tourpic/india/julian-yu-_WuPjE-MPHo-unsplash.jpg);background-size: 100% 100%;}
    25%{background-image: url(/tourpic/india/kirti-kalla-JRhvllDBhzs-unsplash.jpg);background-size: 100% 100%;}
    35%{background-image: url(/tourpic/india/kirti-kalla-JRhvllDBhzs-unsplash.jpg);background-size: 100% 100%;}
    50%{background-image: url(/tourpic/india/kyran-low-MvkLKGtBcUA-unsplash.jpg);background-size: 100% 100%;}
    60%{background-image: url(/tourpic/india/kyran-low-MvkLKGtBcUA-unsplash.jpg);background-size: 100% 100%;}
    90%{background-image: url(/tourpic/india/lenstravelier-KNOyIlIK2XE-unsplash.jpg);background-size: 100% 100%;}
    100%{background-image: url(/tourpic/india/lenstravelier-KNOyIlIK2XE-unsplash.jpg);background-size: 100% 100%;}
}
@keyframes thai{
    0%{background-image: url(/tourpic/thailand/alejandro-cartagena-qeibBI7w4fQ-unsplash.jpg);background-size: 100% 100%;}
    10%{background-image: url(/tourpic/thailand/alejandro-cartagena-qeibBI7w4fQ-unsplash.jpg);background-size: 100% 100%;}
    25%{background-image: url(/tourpic/thailand/denys-nevozhai-guNIjIuUcgY-unsplash.jpg);background-size: 100% 100%;}
    35%{background-image: url(/tourpic/thailand/denys-nevozhai-guNIjIuUcgY-unsplash.jpg);background-size: 100% 100%;}
    50%{background-image: url(/tourpic/thailand/marcin-kalinski-PCgM2CYm6HA-unsplash.jpg);background-size: 100% 100%;}
    60%{background-image: url(/tourpic/thailand/marcin-kalinski-PCgM2CYm6HA-unsplash.jpg);background-size: 100% 100%;}
    90%{background-image: url(/tourpic/thailand/mathew-schwartz-gsllxmVO4HQ-unsplash.jpg);background-size: 100% 100%;}
    100%{background-image: url(/tourpic/thailand/mathew-schwartz-gsllxmVO4HQ-unsplash.jpg);background-size: 100% 100%;}
}

footer{
    background-color: rgb(0, 0, 0);
    height: 30px;
    position: relative;
    
}






.bbtn1::after{
    content: '';
    inset: 0;
    background-color: rgb(0, 0, 0);
    height: 40px;
    width: 113px;
    position:absolute;
    border-radius: 20px;
    z-index: -1;
    box-shadow: 0 0 10 0 blue;   
    

}
.bbtn1:hover::after{filter:blur(10px);}








.bbtn3::after{
    content: '';
    inset: 0;
    background-color: rgb(0, 0, 0);
    height: 40px;
    width: 113px;
    position:absolute;
    border-radius: 20px;
    z-index: -1;
    box-shadow: 0 0 10 0 blue;   
    

}
.bbtn3:hover::after{filter:blur(10px);}








.bbtn4::after{
    content: '';
    inset: 0;
    background-color: rgb(0, 0, 0);
    height: 40px;
    width: 113px;
    position:absolute;
    border-radius: 20px;
    z-index: -1;
    box-shadow: 0 0 10 0 blue;   
    

}
.bbtn4:hover::after{filter:blur(10px);}






.bbtn5::after{
    content: '';
    inset: 0;
    background-color: rgb(0, 0, 0);
    height: 40px;
    width: 113px;
    position:absolute;
    border-radius: 20px;
    z-index: -1;
    box-shadow: 0 0 10 0 blue;   
    

}
.bbtn5:hover::after{filter:blur(10px);}







.bbtn6::after{
    content: '';
    inset: 0;
    background-color: rgb(0, 0, 0);
    height: 40px;
    width: 113px;
    position:absolute;
    border-radius: 20px;
    z-index: -1;
    box-shadow: 0 0 10 0 blue;   
    

}
.bbtn6:hover::after{filter:blur(10px);}




.button1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 55px;
    
}

#button{
    display: flex;
    height: 50px;
    width:250px;
    background-color: rgb(255, 81, 0);
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: bolder;
    box-shadow: 0px 0px 8px 0 rgba(172, 255, 47, 0.52), 0px 6px 30px 0 rgba(172, 255, 47, 0.52)  ;
    cursor:pointer;
    

}
#button:hover{
    font-size: 26px;

}
